table { border-collapse: collapse; margin-bottom: .5rem; }
table th, table td { border: 1px solid #ccc; padding: .1rem .3rem; }
table th { background-color: #ddd; }
button { line-height: 1.2rem; min-width: 6rem; }